@font-face {
    font-family: 'ArialNarrow-Bold';
    src: url('font/ArialNarrow-Bold.eot');
    src: url('font/ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/ArialNarrow-Bold.woff2') format('woff2'),
         url('font/ArialNarrow-Bold.woff') format('woff'),
         url('font/ArialNarrow-Bold.svg#ArialNarrow-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family: "Franklin";
  src: url("font/59e78317900df124c3780e2334b0f77a.eot"); /* IE9*/
  src: url("font/59e78317900df124c3780e2334b0f77a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("font/59e78317900df124c3780e2334b0f77a.woff2") format("woff2"), /* chrome、firefox */
  url("font/59e78317900df124c3780e2334b0f77a.woff") format("woff"), /* chrome、firefox */
  url("font/59e78317900df124c3780e2334b0f77a.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("font/59e78317900df124c3780e2334b0f77a.svg#Franklin Gothic Heavy V1") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'copperplate-gothic-bold';
    src: url('font/copperplate-gothic-bold.eot');
    src: url('font/copperplate-gothic-bold.eot?#iefix') format('embedded-opentype'),
         url('font/copperplate-gothic-bold.woff2') format('woff2'),
         url('font/copperplate-gothic-bold.woff') format('woff'),
         url('font/copperplate-gothic-bold.svg#copperplate-gothic-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bauhaus';
    src: url('font/bauhaus.eot');
    src: url('font/bauhaus.eot?#iefix') format('embedded-opentype'),
         url('font/bauhaus.woff2') format('woff2'),
         url('font/bauhaus.woff') format('woff'),
         url('font/bauhaus.svg#bauhaus') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-Bold';
    src: url('font/CenturyGothic-Bold.eot');
    src: url('font/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/CenturyGothic-Bold.woff2') format('woff2'),
         url('font/CenturyGothic-Bold.woff') format('woff'),
         url('font/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic-BoldItalic';
    src: url('font/CenturyGothic-BoldItalic.eot');
    src: url('font/CenturyGothic-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('font/CenturyGothic-BoldItalic.woff2') format('woff2'),
         url('font/CenturyGothic-BoldItalic.woff') format('woff'),
         url('font/CenturyGothic-BoldItalic.svg#CenturyGothic-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('font/CenturyGothic.eot');
    src: url('font/CenturyGothic.eot?#iefix') format('embedded-opentype'),
         url('font/CenturyGothic.woff2') format('woff2'),
         url('font/CenturyGothic.woff') format('woff'),
         url('font/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'GillSansMT-ExtCondensedBold';
  src: url('font/GillSansMT-ExtCondensedBold.woff') format('woff'),
       url('font/GillSansMT-ExtCondensedBold.ttf') format('truetype'),
       url('font/GillSansMT-ExtCondensedBold.svg#GillSansMT-ExtCondensedBold') format('svg'),
       url('font/GillSansMT-ExtCondensedBold.eot'),
       url('font/GillSansMT-ExtCondensedBold.woff2') format('woff2'),
       url('font/GillSansMT-ExtCondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}